<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/1.2.8/index.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/1.2.8/theme-default/index.css" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <template id="formID1">
      <div>
        <ul>

          <li v-for="(item,index) in form.inputs">
            {{index}}<input :type="item.type" :name="item.name" :placeholder="item.placeholder" v-model="item.model"></li>
        </ul>
        <ol>
          <li v-for="(item,index) in form.inputs">
            {{item}}
          </li>
          <input type="button" value="add" @click="add">
        </ol>
      </div>
    </template>

    <div id="app">
      <uitext1></uitext1>

    </div>


    <script>
      Vue.component('uitext1',  {
          template:"#formID1",
          data: function (){
              return {
                  "index":2,
                  "form": {
                      "inputs": [
                          {
                              "name": "input1",
                              "placeholder": "placeholder1",
                              "type": "text",
                              "model":"1"
                          },
                          {
                              "name": "input2",
                              "placeholder": "placeholder2",
                              "type": "text",
                              "model": 2,
                          }
                      ]
                  },
              }
          },
          methods:{
              add:function () {
                  this.index++;
                  var data={
                      "name": "input"+this.index,
                      "placeholder": "placeholder"+this.index,
                      "type": "text",
                      "model": +this.index,
                  }
                  this.form.inputs.push(data)
              }

          }
      });

      var app=new Vue({
          el:'#app',
          data: function (){
              return {
                  list:[1,2,3]
              }
          },
          mounted:function () {

          },
          methods: {}
      })
    </script>
  </body>
</html>
