<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/1.2.8/index.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/1.2.8/theme-default/index.css" rel="stylesheet">
    <title></title>
  </head>
  <body>
  <template id="uiGenerate">
    <div class="root_wrap">
      <div v-for="(val,key) in model">
        <div v-if="val==='object'">
          <div v-for="(pro_val,pro_key) in model.properties">
            <!--string==>text-->
            <el-form-item :label="pro_val.title" v-if="pro_val.type=='string'">
              <el-input v-model="passkey[pro_key]"></el-input>
            </el-form-item>
            <!--string==>text-->
            <!--array-->
            <div v-if="pro_val.type==='array'">
              <ui-generate v-for="(form_val,form_key,form_index) in passkey[pro_key]" :passkey="passkey[pro_key][form_key]" :model="pro_val.items">
              </ui-generate>
            </div>
            <!--array-->
          </div>
        </div>
      </div>
    </div>
  </template>
    <div id="app">
      {{source}}
      <el-form ref="form" label-width="80px">
        <ui-generate :model="jsonSchema" :passkey="source"></ui-generate>
      </el-form>
    </div>
    <script>
      Vue.component('ui-generate', {
        template: '#uiGenerate',
        props:{
            "model":Object,
            "passkey":Object
        },
        data: function () {
            return {
            }
        }
      })
      var source={
          "title": "标题",
          "sex": ['男','女'],
          "tasks": [
              {
                  "title": "名称",
                  "details": "13123",
                  "lists":[{
                      title:'l2',
                      "innerList":[{
                          innerTitle:'innerList1'
                      }]
                  }]
              },
              {
                  "title": "名称1",
                  "details": "13123212",
                  "lists":[{
                      title:'l3'
                  },
                      {
                          title:'l4'
                      }
                  ]
              }
          ]
      }
      //对应的Schema文档,type(string=>text)
      var jsonSchema= {
          "title": "配置文件",
          "type": "object",
          "required": [
              "title"
          ],
          "properties": {
              "title": {
                  "type": "string",
                  "title": "lalelName"
              },
              "sex":{
                "type":"checkbox"
              },
              "tasks": {
                  "type": "array",
                  "title": "Tasks",
                  "items": {
                      "type": "object",
                      "required": [
                          "title1"
                      ],
                      "properties": {
                          "title": {
                              "type": "string",
                              "title": "Title",
                              "description": "A sample title"
                          },
                          "details": {
                              "type": "string",
                              "title": "Task details",
                              "description": "Enter the task details"
                          },
                          lists1:{
                              "type": "array",
                              "title": "list1 array",
                              "items": {
                                  "type": "object",
                                  "required": [
                                      "title"
                                  ],
                                  "properties": {
                                      "title": {
                                          "type": "string",
                                          "title": "lists1 lists1lists1 Title",
                                          "description": "list1 A sample title"
                                      }
                                  }
                              }
                          },
                          "lists": {
                              "type": "array",
                              "title": "list1 array",
                              "items": {
                                  "type": "object",
                                  "required": [
                                      "title"
                                  ],
                                  "properties": {
                                      "title": {
                                          "type": "string",
                                          "title": "list1 Title",
                                          "description": "list1 A sample title"
                                      },
                                      "innerList":{
                                          type:'array',
                                          items:{
                                              type:'object',
                                              properties:{
                                                  "innerTitle":{
                                                      type:"string",
                                                      title:"inner title"
                                                  }
                                              }
                                          }
                                      }
                                  }
                              }
                          }
                      }
                  }
              }
          }
      }
        Vue.config.debug = true;
      var app=new Vue({
          el:'#app',
          data: function (){
              return {
                  jsonSchema:jsonSchema,
                  source:source
              }
          },
          mounted:function () {

          }
      })
    </script>
  </body>
</html>
