<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/1.2.8/index.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/1.2.8/theme-default/index.css" rel="stylesheet">
    <script src="Sortable.js"></script>
    <script src="vuedraggable.js"></script>
    <title></title>
    <style>
      .array_title{
        font-size: 14px;
      }
      [contenteditable]{
        max-height: 500px;
        overflow: scroll;
        border: solid 1px #ddd
      }
      .array:first-child{
        margin-left: 10px;
      }
      .array_add{
        margin-bottom: 22px;
      }
      .flex{
        display: flex;
      }
    </style>
  </head>
  <body>


    <template id="render_template">
      <div class="render_components">
        <ui-text v-if="schema.type=='text'" :schema="schema" :source="source" :schema_key="schema_key"></ui-text>
        <ui-object v-if="schema.type=='object'" :schema="schema.object_schema" :source="source"></ui-object>
        <ui-array v-if="schema.type=='array'" :schema="schema.array_item_schema" :source="source" :schema_key="schema_key" :title="schema.title"></ui-array>
      </div>
    </template>


    <template id="array_template">
      <dl class="array">
        <dt class="array_title">
          <el-row gutter="50">
            <el-col :span="16">

              <el-tabs v-model="arraySelected">
                <el-tab-pane :label="title" name="first"></el-tab-pane>
              </el-tabs>
            </el-col>
            <el-col :span="8"><el-button @click="addChild(source[schema_key])" class="el-icon-plus"></el-button></el-col>
          </el-row>
        </dt>
        <draggable v-model="source[schema_key]" @start="drag=true" @end="drag=false">
        <dd v-for="(val,index) in source[schema_key]" class="array_item">
          <el-row :gutter="14" >
            <el-col :span="16">
                <!--array为object或者其他类型这里需要处理一下子-->
                <render-components :source="arraysource(schema.type,source[schema_key],index)" :schema="schema" :schema_key="index"></render-components>
            </el-col>
            <el-col :span="8" class="array_btns">
                <el-button @click="deleteItem(index,source[schema_key])"  class="el-icon-delete2" ></el-button>
                <el-button @click="moveItem(index,index-1,source[schema_key])" :disabled="index==0" class="el-icon-arrow-up"></el-button>
                <el-button @click="moveItem(index,index+1,source[schema_key])" :disabled="index==source[schema_key].length-1" class="el-icon-arrow-down"></el-button>
            </el-col>
          </el-row>
        </dd>
        </draggable>
      </dl>
    </template>


    <template id="object_template">
      <div class="object">
        <div v-for="(val, key) in schema" class="object_item">
          <render-components :source="source" :schema="schema[key]" :schema_key="key"></render-components>
        </div>
      </div>
    </template>


    <template id="text_template">
      <div class="text">
        <el-form-item :label="schema.title">
          <el-input v-model="source[schema_key]"></el-input>
        </el-form-item>
      </div>
    </template>

    <template id="string_template">
      <div class="string">

        <el-form-item :label="schema.title">
          <span>{{source[schema_key]}}</span>
        </el-form-item>
      </div>
    </template>


    <template id="checkbox_template">
      <div class="checkbox">
        <el-form-item :label="schema.title">
          <el-checkbox-group v-model="source[schema_key]">
            <el-checkbox :label="item" v-for="item in schema.options"></el-checkbox>
          </el-checkbox-group>
        </el-form-item>
      </div>
    </template>

    <template id="radio_template">
      <div class="radio">
        <el-form-item :label="schema.title">
        <el-radio class="radio" v-model="source[schema_key]" :label="item" v-for="item in schema.options">{{item}}</el-radio>
        </el-form-item>
      </div>
    </template>



    <template id="select_template">
      <div class="select">
        <el-form-item :label="schema.title">
          <el-select v-model="value" placeholder="请选择">
            <el-option
                    v-for="item in options"
                    :label="item.label"
                    :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
      </div>
    </template>


    <div id="app">
      <el-row gutter="50">
        <!--<el-col :span="6">-->
          <!--<h5>原始数据</h5>-->
          <!--<pre contenteditable="true" ref="jsonsource">{{source}}</pre>-->
        <!--</el-col>-->
        <!--<el-col :span="6">-->
          <!--<h5>jsonschema</h5>-->
          <!--<pre contenteditable="true" ref="jsonshema">{{schema}}</pre>-->
          <!--<el-button @click="generate($event)" size="mini">生成-->
          <!--</el-button>-->
        <!--</el-col>-->
        <el-col :span="24">
          <h5>生成的ui</h5>
          <el-form ref="form" label-width="150px">
            <render-components :schema="schema" :source="source"></render-components>
          </el-form>
        </el-col>
      </el-row>
    </div>
    <script>
      function getDefaultItem(objectDef,options) {
          var frommInit=typeof options==='undefined'?false:true;
          if(objectDef.type == 'array'){
              //objectDef.array_item_schema.type也许有很多种类型
              if(objectDef.array_item_schema.type=='text'){
                return ['']
              }
              if(options!=undefined){
                  return options;

              }
              return []
          }
          else if(objectDef.type == 'object'){
              var result = {}
              for(var i in objectDef.object_schema){
                  if(!frommInit){
                    result[i] = getDefaultItem(objectDef.object_schema[i])
                  }
                  else{
                      result[i] = getDefaultItem(objectDef.object_schema[i],options[i])
                  }
              }
              return result
          }
          else if(objectDef.type == 'checkbox'){
              var result=[]
              for(item in objectDef.options){
                  result.push(objectDef.options[item])
              }
              return result
          }
          else{
              //可能还有数字
              if(options!=undefined){
                  return options
              }
              return ""
          }
      }
      // components继承这个东西
      var comInherit=Vue.extend({
          props: ['source','schema','schema_key',"val"],//k=>schema的key val=>schema的key的value
          data:function () {
              return{
                  drag:false
              }
          }
      })
      // 定义components
      var components={
          renderComponents:{
              template: '#render_template',
              computed:{
              },
              methods:{
              }
          },
          uiCheckbox:{
              template: '#checkbox_template',
          },
          uiRadio:{
              template: '#radio_template',
          },
          uiString:{
              template: '#string_template',
          },
          uiArray:{
              template: '#array_template',
              props: ['title'],
              data: function () {
                  return {
                      arraySelected:'first'
                  }
              },
              methods:{
                  arraysource:function (type,source,key) {
                      if(type=='object'){
                          return source[key];
                      }
                      return source;
                  },
                  addChild:function (sourceKey) {
                      //增加一个默认值的处理，这里要修改
                      sourceKey.push(getDefaultItem(this.schema))
                  },
                  deleteItem:function (index,sourceKey) {
                      sourceKey.splice(index,1)
                  },
                  moveItem:function (first,last,sourceKey) {
                      sourceKey[first] = sourceKey.splice(last, 1, sourceKey[first])[0];
                  }
              }
          },
          uiObject:{
              template: '#object_template'
          },
          uiText:{
              template: '#text_template'
          },

      }
      // 全局注册components
      !function addComponets(obj) {
          Object.keys(obj).forEach((ele) => {
              Vue.component(ele, comInherit.extend(obj[ele]));
          })
      }(components);
      var source={

          "system_language":"英文",
          "language":"简体中文",
          "area":['深圳','广州']
      }
      //对应的Schema文档,type
      var schema= {
          "title": "配置文件",
          "type": "object",
          "object_schema": {
              "name":{
                  "type": "text",
                  "title": "姓名"
              },
              "system_language":{
                  "type":"string",
                  "title":"当前网站语言"
              },
              "language":{
                  "type":"radio",
                  "title":"选择语言",
                  "options": [
                      "简体中文",
                      "繁体中文",
                      "英文",
                      "韩语",
                      "泰语",
                  ]
              },
              "area": {
                  "type": "checkbox",
                  "title": "区域",
                  "options": [
                      "深圳",
                      "上海",
                      "北京",
                      "广州"
                  ]
              },
              "task":{
                  "type":"array",
                  "title":"任务列表",
                  "array_item_schema":{
                      "type":"object",
                      "object_schema":{
                          "id":{
                              "type":"text",
                              "title":"任务摘要",
                          },
                          "number":{
                              "type":"text",
                              "title":"任务详细内容",
                          },
                          list:{
                              "type":"array",
                              "title":"子任务列表",
                              "array_item_schema":{
                                  "type":"object",
                                  "object_schema":{
                                      "number":{
                                          "type":"text",
                                          "title":"子任务详细内容",
                                      }
                                  }
                              }
                          }
                      }
                  }
              }
          }
      }
      var app=new Vue({
          el:'#app',
          data: {
              schema:schema,
              source:source
          },
          created:function () {
              this.source=getDefaultItem(this.schema,this.source)
          },
          mounted:function () {
              //console.log(this.source)
          },
          methods: {
              generate:function () {
                  var source=JSON.parse(this.$refs.jsonsource.innerHTML)
                  var schema=JSON.parse(this.$refs.jsonshema.innerHTML)
                  this.schema=schema;
                  this.source=source;
              }
          }
      })
    </script>
  </body>
</html>
