<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/1.2.8/index.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/1.2.8/theme-default/index.css" rel="stylesheet">
    <title></title>
    <style>
      .array_title{
        font-size: 24px;
      }
      .el-input{
        width: 300px !important;
      }
    </style>
  </head>
  <body>


    <template id="render_template">
      <div class="render_components">
        <ui-text v-if="val.type=='text'" :source="source" :schema="schema[k]" :k="k"></ui-text>
        <ui-checkbox v-if="val.type=='checkbox'" :source="source" :schema="schema[k]" :k="k"></ui-checkbox>
        <ui-array v-if="val.type=='array'" :source="source" :schema="schema[k]" :k="k"></ui-array>
        <ui-object v-if="val.type=='object'" :source="source" :schema="schema" :k="k"></ui-object>
      </div>
    </template>


    <template id="array_template">
      <dl class="array">
        <dt class="title">{{schema.title}}<el-button size="mini" @click="addChild(source[k])">增加</el-button></dt>
        <dd v-for="(val,index) in source[k]">
          <span>
            <!--<el-button @click="addItem(index,source)" size="mini">增加</el-button>-->
            <el-button @click="deleteItem(index,source[k])" size="mini">删除</el-button>
            <el-button @click="moveItem(index,index-1,source[k])" size="mini" :disabled="index==0">上移</el-button>
            <el-button @click="moveItem(index,index+1,source[k])" size="mini" :disabled="index==source[k].length-1">下移</el-button>
          </span>
          <render-components :source="source[k][index]" :schema="schema.array_item_schema" :k="k" :val="schema.array_item_schema"></render-components>

        </dd>
      </dl>
    </template>


    <template id="object_template">
      <div class="object">
        <render-components v-for="(val, key) in schema.object_schema" :source="source" :schema="schema.object_schema" :k="key" :val="val"></render-components>
      </div>
    </template>


    <template id="text_template">
      <div class="text">
        <el-form-item :label="schema.title">
          <el-input v-model="source[k]"></el-input>
        </el-form-item>
      </div>
    </template>


    <template id="checkbox_template">
      <div class="checkbox">
        1
        <!--<el-form-item :label="schema.title">
          <el-checkbox-group v-model="source[k]">
            <el-checkbox :label="item" v-for="item in schema.options"></el-checkbox>
          </el-checkbox-group>
        </el-form-item>-->
      </div>
    </template>


    <div id="app">
      {{source}}
      <el-form ref="form" label-width="150px">
        <ui-object :schema="schema" :source="source"></ui-object>
      </el-form>
    </div>
    <script>
      // components继承这个东西
      var comInherit=Vue.extend({
          props: ['source','schema','k']
      })
      // 定义components
      var components={
          renderComponents:{
              props: ["val"],//k=>schema的key val=>schema的key的value
              template: '#render_template',
              computed:{
              },
              methods:{
              }
          },
          uiCheckbox:{
              template: '#checkbox_template',
          },
          uiArray:{
              template: '#array_template',
              data: function () {
                  return {
                      num:5000
                  }
              },
              methods:{
                  addChild:function (sourceKey) {
                      this.num++;
                      var newdata= {
                          "id":this.num,
                          "number":this.num+"01"
                      }
                      sourceKey.unshift(newdata)
                  },
                  addItem:function (sourceKey) {
                      console.log(sourceKey)
                  },
                  deleteItem:function (index,sourceKey) {
                      sourceKey.splice(index,1)
                  },
                  moveItem:function (first,last,sourceKey) {
                      sourceKey[first] = sourceKey.splice(last, 1, sourceKey[first])[0];
                  }
              }
          },
          uiObject:{
              template: '#object_template'
          },
          uiText:{
              template: '#text_template'
          },

      }
      // 全局注册components
      !function addComponets(obj) {
          Object.keys(obj).forEach((ele) => {
              Vue.component(ele, comInherit.extend(obj[ele]));
          })
      }(components);
      var source={
          "name":"endless",
          "sex":"男",
          "area":['深圳','广州'],
          "task":[
              {
                  "id":"1",
                  "number":"101",
              }
          ]
      }
      //对应的Schema文档,type
      var schema= {
          "title": "配置文件",
          "type": "object",
          "object_schema": {
              "name":{
                  "type": "text",
                  "title": "姓名"
              },
              "sex":{
                  "type":"radio",
                  "title":"性别",
                  "options": [
                      "男",
                      "女"
                  ]
              },
              "area": {
                  "type": "checkbox",
                  "title": "区域",
                  "options": [
                      "深圳",
                      "上海",
                      "北京",
                      "广州"
                  ]
              },
              "task":{
                  "type":"array",
                  "title":"任务列表",
                  "array_item_schema":{
                      "type":"object",
                      "object_schema":{
                          "id":{
                              "type":"text",
                              "title":"任务摘要",
                          },
                          "number":{
                              "type":"text",
                              "title":"任务详细内容",
                          },
                          "area": {
                              "type": "checkbox",
                              "title": "区域",
                              "options": [
                                  "深圳",
                                  "上海",
                                  "北京",
                                  "广州"
                              ]
                          },
                          childTask:{
                              type:"array",
                              "title":"子任务列表",
                              array_item_schema:{
                                  type:"object",
                                  object_schema:{
                                      "id":{
                                          "type":"text",
                                          "title":"子任务摘要",
                                      },
                                      "number":{
                                          "type":"text",
                                          "title":"子任务详细内容",
                                      }
                                  }
                              }
                          }
                      }
                  }
              }
          }
      }
      var app=new Vue({
          el:'#app',
          data: function (){
              return {
                  schema:schema,
                  source:source
              }
          },
          mounted:function () {

          }
      })
    </script>
  </body>
</html>
