<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/1.2.8/index.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/1.2.8/theme-default/index.css" rel="stylesheet">
    <script src="Sortable.js"></script>
    <script src="vuedraggable.js"></script>
    <title></title>
  </head>
  <body>

    <div id="app">
      <ul>
        <draggable v-model="source" @start="drag=true" @end="drag=false">
        <li v-for="item in source">{{item}}</li>
        </draggable>
      </ul>
    </div>
    <script>
      var app=new Vue({
          el:'#app',
          data: {
              source:[1,2,3]
          },
          created:function () {

          },
          mounted:function () {

          },
          methods: {

          }
      })
    </script>
  </body>
</html>
